---
import Section from "../../components/Section.astro";
import Text from "../../components/Text.astro";
---

<Section isFullScreen modifier="chatbot">
  <header>
    <h2 class="title title--sm">chat de soporte</h2>
    <span class="title title--md">resuelve tus dudas</span>
    <Text size="md">haz click en la burbuja flotante</Text>
    <div class="icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke="#08177e"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"><path d="M7 7l9.2 9.2M17 7v10H7"></path></svg
      >
    </div>
  </header>
</Section>

<style>
  header {
    color: var(--white);
    flex: 1 1 min(35rem, 60%);
    text-align: left;
    background-color: var(--dark);
    flex: 0 0 85%;
    padding: 2rem 4rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.2rem;
    position: relative;
  }

  .icon {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
  }
  .icon svg {
    fill: none;
  }
</style>
