---
import Text from "../../components/Text.astro";
import Diploma from "../../components/icons/stickers/Diploma.astro";
import Tecnologia from "../../components/icons/stickers/Tecnologia.astro";
---

<section id="about" class="about-section">
  <div class="features-container">
    <ul class="features-texts-wrap">
      <li class="feature feature--active">
        <div class="sticker feature__sticker">
          <Diploma />
        </div>
        <h3 class="feature__title">equipo capacitado</h3>
        <Text size="md" modifier="feature__text">
          confía en nuestros dentistas con experiencia y formación para cuidar
          de tu sonrisa
        </Text>
      </li>
      <li class="feature" id="text-hidden">
        <div class="sticker feature__sticker">
          <Tecnologia />
        </div>
        <h3 class="feature__title">consultorio moderno</h3>
        <Text size="md" modifier="feature__text">
          innovación y precisión en cada tratamiento gracias a nuestra
          tecnología de última generación
        </Text>
      </li>
    </ul>
    <div class="features__imgs-wrap">
      <img
        class="feature__img feature__img--active"
        src="/assets/about/personal-dentista-1.jpg"
      />
      <img
        id="img-hidden"
        class="feature__img"
        src="/assets/about/consultorio-dental-escarcega.jpg"
      />
    </div>
  </div>
</section>

<script src="./about.js"></script>

<style>
  .about-section {
    width: 100%;
    height: 200vh;
    position: relative;
    padding-top: var(--nav-height);
  }
  .features-container {
    position: sticky;
    top: calc(var(--nav-height) + 50px);
    width: 90%;
    max-width: 110rem;
    height: 40%;
    margin: 0 auto;
    background-color: var(--dark);
    display: flex;
    flex-wrap: wrap;
    border-radius: 2rem;
    overflow: auto;
    margin-bottom: 100px;
    overflow: hidden;
  }
  .features-texts-wrap {
    flex: 1 1 400px;
    position: relative;
    min-height: 25rem;
  }
  .feature,
  .feature__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s linear;
  }
  .feature {
    width: 90%;
    min-height: 100%;
    color: var(--light);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: var(--dark);
  }
  .feature--active {
    opacity: 1;
  }
  .feature__title {
    font-size: clamp(2rem, 8vw, 5rem);
    font-family: var(--font-primary);
    text-align: center;
    text-wrap: balance;
  }
  .features__imgs-wrap {
    height: 100%;
    flex: 1 1 400px;
    position: relative;
  }
  .feature__img {
    height: 100%;
    object-fit: cover;
  }
  .feature__img--active {
    opacity: 1;
  }
  .feature__sticker {
    align-self: center;
    width: clamp(5rem, 10vw, 10rem);
    height: clamp(5rem, 10vw, 10rem);
  }
</style>
