---
import DocSticker from "../components/icons/stickers/Doc.astro";
import consultorioImg from "../../public/assets/about/consultorio-dental-escarcega.jpg";
import personalImg1 from "../../public/assets/about/personal-dentista-1.jpg";
import personalImg2 from "../../public/assets/about/personal-dentista-2.jpg";
import { Image } from "astro:assets";
---

<section class="about" id="nosotros">
  <h2 class="title title--md">conocenos de cerca</h2>
  <div class="container">
    <div class="wrapper">
      <Image src={consultorioImg} alt="foto del consultorio por dentro" />
      <p class="text text--left">tecnologia de vanguardia</p>
    </div>
    <div class="wrapper grid">
      <p class="text">un equipo altamente capacitado</p>
      <Image src={personalImg1} alt="dentista trabajando" />
      <Image src={personalImg2} alt="dentista ayudante trabajando" />
    </div>
    <div class="sticker sticker--about">
      <DocSticker />
    </div>
  </div>
</section>

<style>
  .about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: auto;
    margin: 4.5rem 0;
  }
  h2 {
    width: 90%;
    text-align: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    margin: 0 auto;
    gap: 2rem;
    position: relative;
  }
  .wrapper {
    flex: 1 1 35rem;
    height: 45rem;
    position: relative;
  }
  .wrapper img {
    height: 100%;
    border-radius: 2rem;
  }
  .text {
    background-color: var(--dark);
    color: var(--white);
    font-size: clamp(2rem, 2.7vw, 2.7rem);
    align-self: center;
    line-height: normal;
    text-align: center;
    padding: 1rem 0;
    border-radius: 2rem;
  }
  .text--left {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    outline: 0.3rem solid var(--light);
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 80%;
    gap: 2rem;
  }
  .grid .text {
    grid-column: 1/3;
  }
</style>
