---
import Section from "../components/Section.astro";
import Text from "../components/Text.astro";

// icons
import FacebookIcon from "../components/icons/social/FacebookIcon.astro";
import Instagram from "../components/icons/social/Instagram.astro";
import WhatsIcon from "../components/icons/social/WhatsIcon.astro";
---

<Section isFullScreen align="center">
  <div class="container">
    <div class="call-to-action">
      <h2 class="title title--md">agenda tu cita hoy mismo</h2>
      <Text size="md">no dejes que los problemas dentales empeoren</Text>
      <ul class="social-links">
        <li class="social-links__item">
          <a href="/"><FacebookIcon /></a>
        </li>
        <li class="social-links__item">
          <a href="/"><Instagram /></a>
        </li>
        <li class="social-links__item">
          <a href="/"><WhatsIcon /></a>
        </li>
      </ul>
    </div>
    <ul class="law-container">
      <li><a href="/">politica de reserva</a></li>
      <li><a href="/">politica de privacidad</a></li>
    </ul>
  </div>
</Section>

<style>
  .container {
    width: 100%;
    height: 100vh;
    background: url(/assets/pattern.png) center/70% no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .call-to-action {
    width: min(80rem, 90%);
    background-color: var(--white);
    outline: 0.4rem solid var(--accent);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    background-color: var(--dark);
    border-radius: 1.5rem;
    padding: 0.5rem 0;
    color: var(--white);
  }
  .social-links__item {
    flex: 0 0 4.5rem;
    border-radius: 50%;
  }

  .law-container {
    width: min(80rem, 90%);
    display: flex;
    justify-content: space-around;
    justify-self: center;
  }
  .law-container a {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--accent);
    text-decoration: underline;
  }
  .law-container a:hover,
  .social-links__item:hover {
    transform: scale(1.1);
  }
</style>
